body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#main-container {
    margin-top: 20px;
}

.card {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.card-img {
    width: 400px;  /* Set the width */
    height: 600px;  /* Set the height */
    object-fit: cover;  /* Scale the image to cover the set dimensions, cropping if needed */
}


.discard-btn {
    margin-top: 10px;
}

#instructions {
    text-align: left;
    font-size: 18px;  /* Increase the font size */
    font-weight: bold;  /* Make the text bold */
}

#shuffle-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}
